CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vs/
out/
3rdParty/Vulkan/Lib/shaderc_combinedd.lib
3rdParty/Vulkan/Lib/SPIRV-Tools-optd.lib
Folder.DotSettings.user